[% 
  SET ens_species_name = module.replace('ensembl_');
  SET species_name = schema.resultset('Meta').search({meta_key = 'species.scientific_name'}).meta_value OR ens_species_name;
  SET display_name = obj.display_xref.display_label OR obj.display_id;
%]

<h1>Ensembl [% species_name.ucfirst %] Gene &quot;[% display_name %]&quot;</h1>

<div class="panel panel-default">
<table class="table">
  <tr>
    <th>Gene Summary:</th>
    <td><a target="_blank" href="http://www.gramene.org/[% ens_species_name.ucfirst %]/Gene/Summary?db=core;g=[% obj.display_xref.display_label %]">In Ensembl</a>
    </td>
  </tr>
  <tr>
    <th>Species:</th>
    <td>[% species_name %]</td>
  </tr>
  <tr>
    <th>Stable ID:</th>
    <td>[% obj.stable_id %]</td>
  </tr>
  <tr>
    <th>Name:</th>
    <td>[% obj.display_xref.display_label %]</td>
  </tr>
  <tr>
    <th>Description:</th>
    <td>[% obj.description %]</td>
  </tr>
</table>
</div>

<!--
obj = <pre>[% USE dumper; dumper.dump(species_name) %]</pre>
-->
