[%- USE Comma -%]

[% IF results %]
<div class="container">
[% SET num = results.response.numFound %]
Found [% num | comma %] result[% IF num != 1; 's'; END %] in [% results.time %].

[% FOREACH hit IN results.response.docs %]
<p>
  <a target="_blank" href="/view/[% hit.id %]">[% hit.title %]</a><br/>
  [% hit.content.join('<br>') %]
</p>
[% END %]
</div>
[% END %]
