[% title = 'Gramene Web Tools' %]

<div class="container">
Welcome to Gramene's Web Tools.

Here you can <a href="/search">search</a> all our data as well
as <a href="/ontology">our ontologies</a>.
</div>
