<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>Gramene Web Tools</title>

    <!-- script src="/js/google-caja/html-sanitizer.js" -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.dataTables.js"></script>
    <script src="/js/handlebars.js"></script>
    <script src="/js/underscore.js"></script>

    <link href="/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/grm-style.css" rel="stylesheet" />
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <link rel="search" type="application/opensearchdescription+xml" href="http://tools.gramene.org/opensearch.xml" title="Gramene Search" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1624628-5', 'gramene.org');
    ga('send', 'pageview');

  </script>

  <script>
    // ----------------------------------------------------------------------
    function lesser_of (val, list) {
    // ----------------------------------------------------------------------
      for (var i = 0; i < list.length - 1; i++) {
        if (val <= list[i]) { return list[i] }
      }
      return list[list.length - 1];
    }

    // ------------------------------------------
    function empty_cart () {
    // ------------------------------------------
      $.post( 
        "[% config.url_base %][% c.url_for('/cart/empty') %]",
        { user_id: "[% session.user_id %]" }
      );

      show_cart_count();
    }

    // ------------------------------------------
    function show_cart_count () {
    // ------------------------------------------
      $.get( 
        "[% config.url_base %][% c.url_for('/cart/count') %]",
        function (data) {
          $('#cart_count').text( data.count.toLocaleString() )
        }
      )
    }

    // ------------------------------------------
    function update_cart(args) {
    // "add" is whether to add or remove the data
    // ------------------------------------------
      var id           = args.id;
      var add          = args.add; // true or false 
      var update_count = args.update_count;

      if ( id != undefined ) {
        $.ajax({
          url: "[% config.url_base %][% c.url_for('/cart/edit') %]",
          data: {
            action: add ? 'add' : 'remove',
            id: id,
          },
          dataType: 'json',
          type: 'POST',
          error: function (jqXHR, textStatus, errorThrown) {
            alert(
              'Error adding data to cart: '
              + textStatus + ' (' + errorThrown + ')'
            );
          }
        });

        if ( update_count ) { show_cart_count() }
      }
    }

    $(document).ready( function() {
      show_cart_count();
    });
  </script>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#grm-nav">
      </button>
      <a class="navbar-brand" href="http://www.gramene.org"><img src="/img/gramene_logo_small.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="grm-nav">
      <ul class="nav navbar-nav">
        <li><a href="/search">Search</a></li>
        <li><a href="/ontology">Ontologies</a></li>
        <li><a href="/feedback">Feedback</a></li>
      </ul>

      <form class="navbar-form navbar-right" role="search" action="/search" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="query" name="query">
        </div>
        <button type="submit" class="btn grm-search-btn">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  [% content %]
</div>
</body>
</html>
