<div align="center">
<form id="query-form" class="form-inline" role="form" method="GET" action="[% c.url_for('/search') %]">
  <div class="form-group">
    <label class="sr-only" for="query">Search for</label>
    <input type="text" class="form-control" id="query" name="query">
  </div>
  <button type="submit" class="grm-search-btn">Search</button>
</form>
</div>
