[%- USE Comma -%]

<script>
$(document).ready( function () {
  var query = getParameterByName('query');

  if (query != undefined) {
    location.href = '[% c.url_for("/search") %]?fq=object~term&query=' + query;
  }
});

</script>

<div class="container container-fluid">
  <div class="span8 text-center">
    <form id="form-search" role="search" class="form-inline" action="[% c.url_for('/search') %]" method="get">
      <div class="form-group">
        <input class="form-control" type="text" id="query" value="" placeholder="Search" name="query">
      </div>
      <button class="btn btn-default" type="submit">Search</button>
    </form>
  </div>
</div>

<br/>

<div class="container" id="search-results">
  <div class="well text-center">
    Search the Gramene ontology database, e.g., 
      <a href="[% c.url_for('/search') %]?query=GO:0006812&fq=object~term">GO:0006812</a>,
      <a href="[% c.url_for('/search') %]?query=cold+tolerance&fq=object~term">cold tolerance</a>,
      <a href="[% c.url_for('/search') %]?query=drought&fq=object~term">drought</a>.
  </div>

  <div class="container">
    <table class="table">
      <tr>
        <th>Term Type</th>
        <th>Prefix</th>
        <th>Num. Terms</th>
      </tr>
      [% FOREACH tt IN term_types %]
        <tr>
          <td>[% tt.term_type.ucfirst.replace('_', ' ') %]</td>
          <td>[% tt.prefix %]</td>
          <td align="right">[% tt.num_terms | comma %]</td>
        </tr>
      [% END %]
    </table>
  </div>
</div>
